* {
  margin: 0;
  padding: 0;
}

body {
  padding: 5px;
  font-family: Roboto;
}

/*----------------------------------------- 4) Header --------------------------------------------------*/
.header {
  width: 100%;
}


.section {
  display: flex;
  padding: 0px;
  margin: 0px;
  height: 60px;
  background:#dbf0fd;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 0.5% 0 0.1% 1%;
}
.col:first-child { margin-left: 1; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF SIX  */
.span_6_of_6 {
  width: 100%;
}

.span_5_of_6 {
    width: 83.06%;
}

.span_4_of_6 {
    width: 66.13%;
}

.span_3_of_6 {
    width: 49.2%;
}

.span_2_of_6 {
    width: 32.26%;
}

.span_1_of_6 {
    width: 15.33%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}


/*================================>> Dropdown Grid<<========================================*/
.section1 {
  display: flex;
  padding: 0px;
  margin-bottom: 15px;  
  height: 60px;
  background: #FFFFFF;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 0.5% 0 2  % 1%;
}
.col:first-child { margin-left: 1; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF SIX  */
.span_5_of_5 {
  width: 100%;
}
.span_4_of_5 {
  width: 79.68%;
}
.span_3_of_5 {
  width: 59.36%;
}
.span_2_of_5 {
  width: 39.04%;
}
.span_1_of_5 {
  width: 18.72%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}



.logo-nav {
  padding: 10px 0 10px  0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  width: 40%;
  height: 120%;
  display: block;
}



.container {
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
}

.row::after {
    content: "";
    clear: both;
    width: 100%;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 5px;
}
.col-1 {width: 58%;}
.col-2 {width: 35%;}


.titleS {
   font-family: Futura;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    line-height: 28px;
    margin-bottom: 10px;
}
/*================================>> Dropdown <<========================================*/
.dropdown-container{
    width: 80%;
    background: #FFFFFF;
    border: 1px solid  #FAEBD7;
    border-radius: 0.01em;
    height: 10%;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 30%;
}
.dropdown-container:before{
    content: "";
    display: block;
}


.selectMessage {
   font-family: Futura;
   display: wrap;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    line-height: 28px;
    margin-bottom: 10px;
}
/* Button
================================== */

/* Map
    ================================== */

 .map {
  width: 100%; 
  height: 480px;
  margin-top: 6%;
}

/* Tables
================================== */


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    float: right;
    border: 1px solid #ddd;
    margin-top: 10%;
    margin-right: 0.1%; 
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}